@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.input-form{
  @apply w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-yellow-500 focus:bg-transparent focus:ring-2 focus:ring-yellow-300 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out;
}

.button-yellow{
  @apply text-center inline-block text-white bg-yellow-500 py-2 px-4 focus:outline-none hover:bg-yellow-600 rounded;
}

.button-nav{
  @apply inline-block bg-white py-2 px-4 rounded font-medium text-gray-500 hover:bg-gray-50;
}


.title-container {
  /* position: flex; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 100%; 画面の横幅の80% */
  /* height: 0; */
  /* padding-bottom: 60%; 画像のアスペクト比を維持するためのパディング */
}

.title-content {
  /* position: absolute;
  top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
  text-align: center;
  /* color: white; */
}

.title-image {
  width: 80%;
  /* height: 100%; */
  max-width: 500px;
  /* object-fit: cover; */
  border: 1px solid black; /* 黒い枠線 */
  /* align-items: center;
  text-align: center;
  max-width: auto; */
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  /* width: calc(25% - 20px); カードの横幅を計算して余白を設定 */
  width: 30%;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  text-align: left;
}

.card img {
  max-width: 100%;
  height: auto;
}


.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  padding: 10px 20px; /* ボタンの内側の余白を設定 */
  font-size: 16px; /* ボタンの文字サイズを設定 */
  border: none; /* ボーダーを削除 */
  border-radius: 5px; /* ボーダーの角を丸くする */
  margin: 5px; /* ボタン間の余白を設定 */
}

.pagination button:disabled {
  background-color: #ccc; /* 無効なときの背景色を灰色に設定 */
  color: #666; /* 無効なときの文字色を灰色に設定 */
  cursor: not-allowed; /* マウスカーソルを変更してクリックを無効にする */
}

.pagination button:enabled {
  background-color: #3498db; /* 有効なときの背景色を青色に設定 */
  color: #fff; /* 有効なときの文字色を白色に設定 */
  cursor: pointer; /* マウスカーソルを標準に戻す */
}