version: '3.8'

volumes:
  node_modules_volume:

networks:
  docker-network:
  
services:
  next:
    container_name: next
    build:
      context: ./frontend
      dockerfile: Dockerfile_front
    tty: true
    volumes:
      - ./frontend:/next
      - node_modules_volume:/next/src/node_modules
    ports:
      - "3000:3000"
    command: npm run dev
    # command: sh -c "yarn dev"
    environment:
     - WATCHPACK_POLLING=true
    networks:
      - docker-network

  django:
    container_name: django
    build: 
      context: ./backend
      dockerfile: Dockerfile_back
    tty: true
    volumes:
      - ./backend/src:/django
    ports:
     - 8000:8000
    # image: app:django
    command: python manage.py runserver 0.0.0.0:8000
    depends_on:
      - db
    networks:
      - docker-network

  db:
    image: mysql:8
    container_name: mysql
    volumes:
      - ./database/data:/var/lib/mysql
    ports:
      - 3306:3306
    environment:
      MYSQL_DATABASE: 'django'
      MYSQL_ALLOW_EMPTY_PASSWORD: 'true'
    networks:
      - docker-network

